CADDY_EMAIL=ops@forestco.pl
POSTGRES_USER=forest
POSTGRES_PASSWORD=forest
POSTGRES_DB=forest
STRAPI_DATABASE_NAME=forest
MEDUSA_DATABASE_URL=postgres://forest:forest@postgres:5432/forest
ADMIN_USER=admin
ADMIN_PASSWORD_HASH=$$2a$$12$$examplehash
CMS_USER=admin
CMS_PASSWORD_HASH=$$2a$$12$$examplehash
